<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<span th:if="${loggedInError != null}" th:text="${loggedInError}" class="error"></span>

<span th:if="${mustLogOutError != null}" th:text="${mustLogOutError}" class="error"></span>

<p th:unless="${fighters} and ${fighters.size()}">No Fighters Have Been Added</p>

<table class="table">

    <tr>
        <th>Name</th>
        <th>Image</th>
    </tr>

    <tr th:each="fighter : ${fighters}">
        <td th:text="${fighter.name}"></td>
        <td>
            <img th:src="${fighter.picUrl}" alt="???"/>
        </td>
        <td><a th:href="'fighters/edit/' + ${fighter.id}">Update Fighter</a>
        </td>
        <td><a th:href="'matchups/' + ${fighter.id}">Edit Matchups</a>
        </td>
        <td><a th:href="'matchups/' + ${fighter.id} + '/view'">View Matchups</a>
        </td>
    </tr>

</table>

<a href="fighters/add">Add Another Fighter</a> |
<a href="fighters/remove">Delete a Fighter</a>

</body>
</html>